body{
  margin: 0;
  padding: 0;
}

.navbar-brand, .nav-link{
  color: #6e6d7a
}
.navbar-brand:hover,.nav-link:hover{
  color: #000000;
}

.loginPage, .SignUpPage{
  padding-top: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;

}

.login-submit, .signup-submit{
  width: -webkit-fill-available;
}

span {
  background-color: red;
  color: white;
}






@media (min-width: 576px) { 
  .loginPage{
    padding-left: 4rem;
    padding-right: 4rem;
  }
  .SignUpPage{
    padding-left: 4rem;
    padding-right: 4rem;
  }
}


@media (min-width: 768px) { 
  .loginPage{
    padding-left: 10rem;
    padding-right: 10rem;
  }
  .SignUpPage{
    padding-left: 15rem;
    padding-right: 15rem;
  }
}


@media (min-width: 992px) { 
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 6.5rem !important;
    padding-left: 6.5rem !important;
  }
  .loginPage{
    padding-left: 20rem;
    padding-right: 20rem;
  }
 
 
}

@media (min-width: 1200px) { 
  .loginPage{
    padding-left: 30rem;
    padding-right: 30rem;
  }
  .SignUpPage{
    padding-left: 25rem;
    padding-right: 25rem;
  }
}
